<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<% 20.times.each do |i| %>
				<% med = "Medicamento#{i}" %>
				<tr>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= image_tag "bovinos.png" , height: '25' %>
					<%= image_tag "porcinos.png" , height: '20' %>
					<%= image_tag "equinos.png" , height: '30' %>
					<%= image_tag "caninos.png" , height: '23' %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="pagination">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">&raquo;</a></li>
	</ul>
</div>
