<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<% 20.times.each do |i| %>
				<% med = "Medicamento#{i}" %>
				<tr>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
					<td><%= med %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
