<!DOCTYPE html>
<html>
<head>
  <title>GuiaV - Admin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="wrapper">
		<!-- Login campos -->
		<div class="centered col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">	
			<a href="index.html">
				<%= image_tag "logochico.png" , height: '150' %>
			</a>
			
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.text_field :usuario ,class: 'form-control', placeholder: 'Usuario'%>
				<%= f.password_field :password ,class: 'form-control', placeholder: 'Contrasena'%>
				<%= f.submit "Log in", class: "btn btn-primary" %>
			<% end %>

		</div>
	</div>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
</body>
</html>
