<!DOCTYPE html>
<html>
<head>
  <title>GuiaV - Admin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body id="body-login">
	<div id="wrapper-login">
		<!-- Login campos -->
			<%= image_tag "logochico.png" , height: '150' %>
			
			<div id="content-login" class="well">
				<% flash.each do |key, value| %>
				<div class="alert alert-danger"><%= value %></div>
				<% end %>

				<%= form_for(:session, url: admin_login_path) do |f| %>
					<%= f.text_field :usuario ,class: 'form-control', placeholder: 'Usuario'%>
					<%= f.password_field :password ,class: 'form-control', placeholder: 'Contrasena'%>
					<%= f.submit "INGRESAR", class: "btn btn-primary" %>
				<% end %>

			</div>
	</div>
    
</body>
</html>
