<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @administrador.usuario %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @administrador.nombre %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @administrador.contrasena %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @administrador.habilitado %>
</p>

<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Back', administradors_path %>
