<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @laboratorio.nombre %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @laboratorio.razon_social %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @laboratorio.direccion %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @laboratorio.departamento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @laboratorio.telefono %>
</p>

<p>
  <strong>Web:</strong>
  <%= @laboratorio.web %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
