<div class="search-box">
	<form class="form-inline search" role="form">
	  <div class="form-group" >
	    <input type="text" class="form-control" style="width:600px;" id="exampleInputEmail2" placeholder="What are you looking for?">
	  </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-primary" style=" font-weight: bold;">Search</button>
	  </div>
	 </form>
</div>

<div class="search-results">
	<div class="row">
	 	<div class="col-md-3">
	 		<div class="panel filter-panel">
	 			<h4>Refine by</h4>
	 			<hr>
				<strong>Laboratorio</strong>
		 		<ul>
		 			<% Laboratorio.all.each do |laboratorio| %>
			 			<li><input type="checkbox" value="Bike"><%= laboratorio.nombre %></li>
		 			<% end %>
		 		</ul>
		 		<hr>
				<strong>Animal</strong>
		 		<ul>
		 			<% Animal.all.each do |animal| %>
			 			<li><input type="checkbox" value="Bike"><%= animal.nombre %></li>
		 			<% end %>
		 		</ul>
		 		<hr>
				<strong>Tipo</strong>
		 		<ul>
		 		</ul>
		 		<hr>
				<strong>Categoria</strong>
		 		<ul>
		 		</ul>
	 		</div>
	 		
	 	</div>
	 	<div class="col-md-9">
	 		<div id="table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Laboratorio</th>
							<th>Tipo</th>
							<th>Categoria</th>
							<th>Especies</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% Medicamento.all.each do |medicamento| %>
							<tr>
								<td><%= medicamento.nombre %></td>
								<td><%= medicamento.laboratorio.nombre %></td>
								<td></td>
								<td></td>
								<td>
									<ul>
										<% medicamento.animals.each do |animal| %>
											<li class="animals"><%= image_tag "#{animal.nombre.downcase}.png" , height: '25',title: "Bovinos" %></li>
										<% end %>
									</ul>
								 </td>
								<td><a href="">Ver mas</a></td>
								
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
	 	</div>
	 </div>
</div>
 
