<!DOCTYPE html>
<html ng-app="guiaV">
<head>
  <title>GuiaV</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="navigation-bar">
				<nav class="navbar navbar-custom" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								<li><%= image_tag "logochico.png" , height: '50' %></li>
							</ul>
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Admin</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Laboratorios <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><%= link_to "Nuevo laboratorio", new_laboratorio_path %></li>
										<li><%= link_to "Ver laboratorios", laboratorios_path %></li>
									</ul>
								</li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<li><%= link_to "Cerrar Sesion", admin_logout_path, method: :delete %></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		<div id="wrapper-lab">
			<%= yield %>
		</div>
		
	</div>
	<div id="footer">
		
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
</body>
</html>
