<!DOCTYPE html>
<html>
<head>
  <title>GuiaV</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

  

	
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="logo-header">
				<%= image_tag "logo.png" , height: '220' %>
			</div>
			<div id="licencia">
				<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="L2XSE8GG6KH58">
					<button type="submit" class="btn btn-outline-inverse btn-lg">Upgrade to GuiaV PRO</button>
					<script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=jandres.rodriguezg-facilitator@gmail.com" 
					    data-button="Upgrade GuiaV PRO Now" 
					    data-name="GuiaV PRO License" 
					    data-quantity="1" 
					    data-amount="50" 
					    data-shipping="0" 
					    data-tax="0" 
					    data-env="sandbox"
					></script>
				</form>
				<%= link_to 'Upgrade to GuiaV PRO Now', paypal_url(index_welcome_path), class: "btn btn-outline-inverse btn-lg" %> 
			</div>
			 <div id="navigation-bar">
			 	<nav class="navbar navbar-custom" role="navigation">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#">Home</a></li>
				        <li><a href="#">About Us</a></li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Separated link</a></li>
				            <li class="divider"></li>
				            <li><a href="#">One more separated link</a></li>
				          </ul>
				        </li>
				      </ul>
				      <form class="navbar-form navbar-left" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
				        <button type="submit" class="btn btn-default">Submit</button>
				      </form>
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#">Sign In</a></li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Sign out</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			 </div>
		</div>
	

		<%= yield %>

		<div id="footer" class="centered">
			
			<div id="footer-content">
				
				<h1 id="contact-us">CONTACT US</h1>
				<div id="map-canvas"></div>
				<div id="footer-bottom">
					<div id="logo-footer">
						<%= image_tag "logo_sin_texto.png" , height: '80' %>
					</div>
					<div id="contact">
							<ul>
								<li class="fbook"><a href="https://www.facebook.com/guiavet" target="_blank"><i class="fa fa-facebook fa-1x"></i></a></li>
								<li class="mail"><a href="mailto:info@guiav.com.uy"><i class="fa fa-envelope-o fa-1x"></i></a></li>
							</ul>
							<br>
							<p>info@guiav.com.uy<br>(+598) 2203 9897<br>
							
							Av. Agraciada 2541 Of. 101<br>
							Montevideo, Uruguay</p>

							
					</div>
					<div id="auspicios">
						<h4>Auspician:</h4>
						<ul>
							<li><a href="http://www.mgap.gub.uy" target="_blank"><%= image_tag "ministerio.jpg" , height: '45' %></a></li>
							<li><a href="http://www.smvu.com.uy/" target="_blank"><%= image_tag "smvu.jpg" , height: '45' %></a></li>
						</ul>
					</div>
				</div>
				<div id="arrow-up">
					<a href="#"><i class="fa fa-arrow-circle-up fa-4x"></i></a>
				</div>
			</div>
		</div>
		<div id="copyright">
			<p class="copy">© 2014 GuiaV Uruguay. All rights reserved.</p>
		</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
</body>
</html>
