<!DOCTYPE html>
<html ng-app="guiaV">
<head>
  <title>Guia V | Vademecum Veterinario</title>

  <meta name="description" content="Vademecum de especialidades veterinarias para grandes y pequeños animales">
	<meta name="keywords" content="vademecum, veterinario, uruguay">
	<meta property="og:url" content="http://www.guiav.com.uy/" />
	<meta property="og:image" content="http://www.guiav.com.uy/images/bookit.png" />
	<meta property="og:title" content="Guia V" />
	<meta property="og:description" content="Vademecum Veterinario" />

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div id="header" class="nav">
			<%= image_tag "logo.png" , height: '40', style: "float:left; margin-top: 10px; padding-left: 30px;" %>
			<div class="header-nav">

				<ul>
					<% if current_user %>
						<li><a href=""><%= current_user.username %></a></li>
						<li><a href="/logout">Log out</a></li>
					<% else %>
						<li><a href="">Sign up</a></li>
						<li><a href="" data-toggle="modal" data-target="#signInModal">Log in</a></li>
					<% end %>
					<li><a href="">Help &nbsp;<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
			<div id="licencia">
				<%= link_to 'Upgrade to GuiaV PRO Now', paypal_url, class: "btn btn-outline-inverse btn-lg", style: 'display: none' %> 
			</div>
			 
		</div>

		<!-- Modal -->
		<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LogInController as loginCtrl">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    	<form class="form-horizontal" role="form">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
		      </div>
		      <div class="modal-body">
		        <div ng-show="invalido" class="alert alert-danger">Usuario o contrasenia incorrecta</div>
		        <div ng-show="valido" class="alert alert-success">Bienvenido</div>
				  <div class="form-group">
				    <div class="col-sm-offset-1 col-sm-10" >
				      <input type="text" ng-model="username" class="form-control" id="inputEmail3" placeholder="Usuario">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-1 col-sm-10">
				      <input type="password" ng-model="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-3">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox" ng-model="remember"> Recordarme
				        </label>
				      </div>
				    </div>
				  </div>
				
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-primary" ng-click="userValido()">Sign In</button>
		        
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
	
		<%= yield %>

		<div id="copyright">
			<p class="copy">© 2014 GuiaV Uruguay. All rights reserved. Developed by <a href="http://jetlabs.github.io" target="_blank"><%= image_tag "jetlabs_logo.png" , height: '18', style: "margin-top:-4px;"  %></a></p>
		</div>

	<!-- EL RUBY EMBED NO ESTA EN BLANCO !!!! -->	
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
</body>
</html>
